body {
  width: 700px;
  position: relative;
  vertical-align: middle;
  /* font-family: Georgia, serif; */
  /* font-family: "Brush Script MT", cursive; */
  font-family: Garamond, serif;
  text-align: center;
  font-size: 15px;
}

.backgroundimage {
  background-image: url("/backgroundimage.jpg");
  height: 500px;
  background-position: center;
  background-size: cover;
  position: relative;
}

h1 {
  color: #0fa138;
  font-size: 50px;
}

h2 {
  color: #0fa138;
  font-size: 29px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 20px;
}

.column {
  float: left;
  width: 33.33%;
  word-break: break-word;
}

img {
  max-width: 60%;
  max-height: 60%;
}

.product {
  max-height: 300px;
  word-break: break-word;
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  font-size: 50px;
  font-weight: bold;
}

.img {
  float: left;
  width: 40%;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.row {
  float: right;
  width: 60%;
  font-size: 20px;
  margin-left: 5%;
  margin-right: 3%;
}
