body {
  width: 500px;
  position: relative;
  vertical-align: middle;
  /* font-family: Georgia, serif; */
  /* font-family: "Brush Script MT", cursive; */
  font-family: Garamond, serif;
  text-align: center;
}

.backgroundimage {
  background-image: url("/backgroundimage.jpg");
  height: 500px;
  background-position: center;
  /* background-repeat: no-repeat; */
  background-size: cover;
  position: relative;
}

h1 {
  color: #14c446;
  font-size: 50px;
  background-color: white;
}

h2 {
  font-size: 29px;
}

h3 {
  font-size: 20;
}

h4 {
  font-size: 20;
}

.column {
  float: left;
  width: 33.33%;
  word-break: break-word;
}
